<!-- <SiteNav /> -->
<site-nav />
<div class="container">
  <h4 class="mt-4">Fluid Layout Example</h4>
  <div class="row mt-4">
    <div class="col-sm-8" style="position: relative">
      <div class="player-container" style="position: relative">
        <byteark-player-container [options]="options" />
      </div>
      <div class="mt-4">
        <video-info
          [title]="video.title"
          [description]="video.description"
        ></video-info>
      </div>
    </div>
    <div class="col-sm-4">
      <video-list
        [videos]="videos"
        (videoSelected)="setVideo($event)"
      ></video-list>
    </div>
  </div>
</div>
