<ng-container *ngIf="state.error; else playIconTemplate">
  <div>{{ state.error }}</div>
</ng-container>
<ng-template #playIconTemplate>
  <div
    [class]="className"
    [ngStyle]="placeholderCustomStyle"
    (click)="onClickPlaceholder.emit()"
  >
    <svg
      *ngIf="shouldShowPlayIcon"
      [ngStyle]="playIconStyle"
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 512 512"
      xml:space="preserve"
      class="fill-red-600"
    >
      <polygon
        style="fill: #ffffff"
        points="187.368,146.928 187.368,355.8 382.992,251.368 "
      />
      <path
        class="hover:fill-current hover:text-red-700"
        d="M256,0.376C114.616,0.376,0,114.824,0,256s114.616,255.624,256,255.624S512,397.176,512,256
	S397.384,0.376,256,0.376z M184.496,146.928l195.624,104.44L184.496,355.8V146.928z"
      />
    </svg>

    <!-- <svg
      *ngIf="shouldShowPlayIcon"
      [ngStyle]="playIconStyle"
      viewBox="0 0 60 60"
    >
      <path
        [ngStyle]="pathStyle"
        d="M47.43,27.26,14.11,5.87A3.34,3.34,0,0,0,9,8.79V51.56a3.34,3.34,0,0,0,5.11,2.91L47.43,33.09A3.49,3.49,0,0,0,47.43,27.26Z"
      />
    </svg> -->
  </div>
</ng-template>
